<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      text-align:center;
    }
    h2{
      color:black;
      font-family: Arial, sans-serif;
      font-size:25px;
      font-weight: bold;
      align-items:'center';
      justify-content:'center';
    }
    .intro-text {
      margin: 20px 0;
      font-size:20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <br><br>
  <h2>Bienvenue à ASP</h2>
  <br>
  <div class="intro-text b">
     ASP une plateforme complète dédiée à la gestion efficace des films,<br> fournissant une expérience simplifiée et intuitive pour les cinéastes, les réalisateurs, et les passionnés de cinéma <br> Notre plateforme ASP révolutionne la façon dont vous gérez et organisez les détails essentiels de chaque film,<br> allant des informations sur le titre et les années de sortie aux détails du réalisateur et de la durée.

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

